# Neon PostgreSQL (use pooler host for serverless/Vercel)
DATABASE_URL=postgresql://neondb_owner:npg_4ozWEKsQS3wb@ep-royal-shadow-anfb1kb2-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
NEXTAUTH_SECRET=GcdLamzIxDzNgOiMJvTkkpYkvGmLwGHq
